[credential]
	helper = cache
[core]
	autocrlf = input
[grep]
	lineNumber = true
	patternType = perl
[diff]
	algorithm = patience
	indentHeuristic = true
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictStyle = diff3
[mergetool]
	keepBackup = false
[alias]
	timeline = log --all --graph --oneline
	stat = log --stat
	continue = !vim -p $(git ls-files --modified --others --exclude-standard)
