[credential]
	helper = cache
[core]
	autocrlf = input
[init]
	defaultBranch = master
[grep]
	lineNumber = true
	patternType = perl
[diff]
	algorithm = patience
	indentHeuristic = true
	tool = nvimdiff
[merge]
	tool = nvimdiff
	conflictStyle = diff3
[mergetool]
	keepBackup = false
[push]
	default = current
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autosquash = true
[alias]
	timeline = log --all --graph --oneline
