[credential]
	helper = cache
[core]
	autocrlf = input
[grep]
	lineNumber = true
	patternType = perl
[diff]
	algorithm = patience
	indentHeuristic = true
	tool = nvimdiff
[merge]
	tool = nvimdiff
	conflictStyle = diff3
[mergetool]
	keepBackup = false
[alias]
	timeline = log --all --graph --oneline
