'$schema' = 'https://starship.rs/config-schema.json'

format = """
┌ $jobs$username$hostname$directory$git_branch$git_commit$git_state$git_metrics$git_status$battery$line_break\
(├ $aws$kubernetes${env_var.MISE_ENV}\n)\
└─$character\
"""

[directory]
truncation_length = 0
truncate_to_repo = false
style = 'bold blue'
repo_root_style = 'bold red'
read_only = ' 󰌾'

[jobs]
symbol = '●'

[[battery.display]]
threshold = 20

[git_branch]
symbol = ' '

[git_metrics]
disabled = false

[git_status]
style = 'bold purple'
stashed = '\$${count} '
conflicted = '=${count} '
untracked = '?${count} '
modified = '~${count} '
staged = '++${count} '
renamed = '⇆${count} '
deleted = '--${count} '
ahead = '⇡${count} '
diverged = '⇡${ahead_count} ⇣${behind_count} '
behind = '⇣${count} '

[kubernetes]
disabled = false
format = '[$symbol($context )(\($namespace\) )]($style)'

[aws]
disabled = false
force_display = true
symbol = '󰅟  '
format = '[$symbol($profile )(\($region\) )(\[$duration\] )]($style)'

[env_var.MISE_ENV]
style = 'bold purple'
