keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
    }
    normal {
        bind "Esc" "Enter" { SwitchToMode "Locked"; }
    }
    shared_except "locked" "normal" {
        bind "Esc" "Enter" { SwitchToMode "Normal"; }
    }

    normal {
        bind "g" { Write 7; }
        bind "Ctrl c" "c" { Copy; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl z" { Detach; }
        bind "p" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked";
        }

        bind "h" { MoveFocusOrTab "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocusOrTab "Right"; }
        bind "H" { GoToPreviousTab; }
        bind "L" { GoToNextTab; }
        bind "f" { ToggleFloatingPanes; }
        bind "Tab" { ToggleFocusFullscreen; }

        bind "q" { CloseFocus; SwitchToMode "Normal"; }
        bind "w" { NewPane; }
        bind "s" { NewPane "Down"; }
        bind "v" { NewPane "Right"; }
        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }

        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "[" "{" { PreviousSwapLayout; }
        bind "]" "}" { NextSwapLayout; }

        bind "m" { SwitchToMode "Move"; }
        bind "z" { SwitchToMode "Scroll"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
    }

    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
    }

    move {
        bind "m" { SwitchToMode "Normal"; }
        bind "h" { MovePane "Left"; }
        bind "j" { MovePane "Down"; }
        bind "k" { MovePane "Up"; }
        bind "l" { MovePane "Right"; }
        bind "H" { BreakPaneLeft; }
        bind "L" { BreakPaneRight; }
        bind "f" { TogglePaneEmbedOrFloating; }
        bind "t" { BreakPane; SwitchToMode "Move"; }
        bind "i" { MoveTab "Left"; }
        bind "o" { MoveTab "Right"; }
    }

    shared_among "scroll" "search" {
        bind "z" { SwitchToMode "Normal"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "f" { PageScrollDown; }
        bind "b" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "G" { ScrollToBottom; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
}

theme "catppuccin-mocha"
default_layout "compact"
simplified_ui true
pane_frames false
default_mode "locked"
copy_on_select false
