"\C-p": history-search-backward
"\C-n": history-search-forward
"\e[A": history-search-backward
"\e[B": history-search-forward

set bell-style none
set enable-bracketed-paste on
set completion-ignore-case on
set completion-map-case on
set show-all-if-ambiguous on
set colored-completion-prefix on
set colored-stats on
set visible-stats on
